/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #9c9c9c;
  --color-pink: #ff6863;
  --color-dark-grey: #515151;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-teal: #00897b;
  --color-light-teal: #4ebaaa;
  --color-dark-teal: #005b4f;
  --color-white-teal: #def3f1;

  /* Font size */
  --font-large: 34px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* Font line-height */
  --line-height-size: 1.8rem;

  /* icon */
  --icon-tab-size: 28px;

  /* Animation */
  --animation-duration: 0.3s;

  /* Etc */
  --border-radius-small: 5px;
  --border-radius-large: 20px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-medium);
  font-family: 'BMDoHyeon', sans-serif;;
  font-weight: 500;
  color: var(--color-white-teal);
  margin: 10px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white-teal);
  margin: 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white-teal);
  margin: 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  height: 100vh;
  margin: 0;
  cursor: default;
  background-color: #F7EFE4;
}

/* 태그 스타일 초기화 */
a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

input {
  outline: none;
  border: 0;
}

/* 헤더 영역 */
.header {
  background-color: var(--color-teal);
  padding: 15px;
}

.header__search-form {
  position: relative;
}

.header__search-form > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

.header__search {
  width: 100%;
  padding: 8px;
  font-size: var(--font-small);
  border-radius: var(--border-radius-small);
  padding-left: 32px;
}

/* 메인 영역 */
.main {
  padding: 15px;
  padding-top: 0;
}

.sort-btn {
  color: var(--color-dark-grey);
  font-size: var(--font-small);
  margin: 10px 0;
}

.sort-btn::before {
  content: '\f884';
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 4px;
}

/* 하단 네비게이션 영역 */
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #f8f8f8;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 7px 0px rgba(179, 179, 179, 0.9);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(179, 179, 179, 0.9);
  -moz-box-shadow: 0px 0px 7px 0px rgba(179, 179, 179, 0.9);
}

.nav__tab-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__tab-item a {
  display: block;
  padding: 8px 20px;
}

.nav__tab-item i {
  color: var(--color-dark-white);
  /* color: rgb(153, 153, 153); */
  font-size: var(--icon-tab-size);
}