/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #dddddd;
  --color-dark-white: #9c9c9c;
  --color-pink: #ff6863;
  --color-dark-grey: #515151;
  --color-grey: #616161;
  --color-light-grey: #7a7a7a;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-teal: #00897b;
  --color-light-teal: #4ebaaa;
  --color-dark-teal: #005b4f;
  --color-white-teal: #def3f1;

  /* Font size */
  --font-large: 34px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* Font line-height */
  --line-height-size: 1.8rem;

  /* icon */
  --icon-tab-size: 28px;

  /* Animation */
  --animation-duration: 0.3s;

  /* Etc */
  --border-radius-small: 5px;
  --border-radius-large: 20px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-medium);
  font-family: 'BMDoHyeon', sans-serif;;
  font-weight: 500;
  color: var(--color-white-teal);
  margin: 4px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-grey);
  margin: 0px;
}

h3 {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-light-grey);
  margin: 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100vw;
  margin: 0;
  cursor: default;
  background-color: #F7EFE4;
}

/* 태그 스타일 초기화 */
a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

input {
  outline: none;
  border: 0;
}

#page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

/* 헤더 영역 */
.header {
  background-color: var(--color-teal);
  padding: 14px;
  position: relative;
}

.header::after {
  content: '';
  background-color: var(--color-teal);
  position: absolute;
  left: 0;
  width: 100vw;
  height: 190px;
  border-radius: 0 0 50% 50%;
}

.header__message {
  color: var(--color-white-teal);
  font-size: 1rem;
}

.search-form {
  position: relative;
}

.search-form > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  color: var(--color-light-grey);
}

.search-form > input {
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  border-radius: 12px;
  padding-left: 36px;
  height: 37px;
  line-height: 42px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* 메인 영역 */
.content {

}

.home__tab {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.home__tab--search {
  height: 150px;
  border-radius: 10px 10px 70px 10px;
}

.home__tab--search::after {
  content: '';
  width: 70px;
  height: 70px;
  background: url(../asset/image/icon/home_search-tab.svg);
  position: absolute;
  right: 24px;
  bottom: 20px;
}

.home__tab--calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__tab--calendar > i {
  font-size: 2.4rem;
  color: rgb(221, 201, 18);
}

.home__page--search {
  position: absolute;
  top: 0;
  left: 90%;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  padding: 22px 14px;
  background-color: #F7EFE4;
  transition: left 0.3s ease;
}

.home__page--search > button > i {
  font-size: 1.8rem;
}

.home__page--search > h1 {
  color: var(--color-black);
  margin: 30px 0;
}

.search-result {
  margin: 80px 0 30px;
}

.search-result__item {
  display: flex;
  margin: 60px 0;
  background-color: var(--color-white);
  padding: 5px 10px;
}

.search-result__thumbnail {
  width: 87px;
  height: 84px;
  margin-right: 14px;
  position: relative;
}

.search-result__thumbnail > img {
  display: block;
  width: 87px;
  height: 126px;
  position: absolute;
  top: -48px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.search-result__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-result__title {
  width: 200px;
  color: var(--color-black);
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-result__description > div {
  display: flex;
  flex-direction: column;
}

.search-result__authors {
  font-size: 0.92rem;
  color: var(--color-light-grey);
  margin-bottom: -1px;
}

.search-result__publisher {
  font-size: 0.92rem;
  color: var(--color-dark-white);
}

.main {
  padding: 10px;
  padding-top: 0;
}

.sort-btn {
  color: var(--color-dark-grey);
  font-size: var(--font-regular);
  margin-top: 20px;
}

.sort-btn::before {
  content: '\f884';
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
}

.book-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.book-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31%;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-bottom: 70px;
  padding: 4px;
}

.book-item:nth-child(3n) {
  margin-right: 0;
}

.book-item__img {
  width: 80%;
  height: 74px;
}

.book-item__img > img{
  width: 80%;
  height: 120px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.book-item__rating {
  display: flex;
}

.book-item__rating i {
  font-size: 14px;
  color: #EFBC1D;
  margin: 0 0.2px;
}

.book-item__title {
  width: 80%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
}

.modal.show {
  visibility: visible;
}

.modal__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: #f8f8f8;
  text-align: center;
  border-radius: 15px 15px 0 0;
  transform: translateY(350px);
  transition: 0.4s;
}

.modal__content.move-up {
  transform: translateY(0px);
}

.modal__btn-item {

}

.modal__title {
  height: 50px;
  padding: 10px 0;
  font-size: calc(var(--font-regular) * 1.2);
}

.modal__btn-item > button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  font-size: var(--font-small);
  color: var(--color-grey);
  border-top: 1px solid var(--color-light-white);
}

/* 네비게이션 영역 */
#navigation {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 7px 0px rgba(179, 179, 179, 0.9);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(179, 179, 179, 0.9);
  -moz-box-shadow: 0px 0px 7px 0px rgba(179, 179, 179, 0.9);
}

#navigation > a {
  display: block;
  padding: 10px 20px;
}

#navigation > a:active {
  background-color: teal;
}

#navigation i {
  font-size: var(--icon-tab-size);
  color: var(--color-dark-white);
  pointer-events: none;
}